<header>
	<h1>Model() function</h1>
</header>
<main>
	<hr />
	<h2>ngModelInputValue: {{ ngModelInputValue }}</h2>
	<mat-form-field appearance="outline">
		<input matInput [(ngModel)]="ngModelInputValue" type="text" />
		<!-- <input matInput ngModel [ngModel]="ngModelInputValue" (ngModelChange)="ngModelInputValue = $event" type="text" /> -->
	</mat-form-field>
	<hr />
	<button (click)="expanded = !expanded" mat-button color="accent">
		Card is {{ expanded ? 'Expanded' : 'Closed' }}
	</button>
	<!-- <button (click)="expanded.set(!expanded())" mat-button color="accent">
		Card is {{ expanded() ? 'Expanded' : 'Closed' }}
	</button> -->

	<!-- <app-twb-card [(expanded)]="expanded" /> -->
	<app-twb-card [expanded]="expanded" (expandedChange)="expanded = $event" />
</main>

