:host {
	display: block;
}
header {
	padding: 2rem;
	text-align: center;
}

.loading {
	width: 500px;
	height: 740px;
	margin: auto;
	display: grid;
	place-items: center;
}

.trigger-box {
	padding-bottom: 100px;
	margin-top: 100px;
	p {
		text-align: center;
		font-size: 3rem;
		margin: 0;
	}
}

section {
	background-color: darkcyan;
	padding: 2rem;
	margin-bottom: 1rem;
	&.odd {
		background-color: lightblue;
	}
}
