<mat-form-field appearance="outline">
	<mat-label>Posts</mat-label>
	<input matInput type="text" (input)="filterPosts()" [(ngModel)]="filterValue" />
	@if (filterValue) {
		<button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
			<mat-icon>close</mat-icon>
		</button>
	}
</mat-form-field>

<mat-list role="list">
	@for (post of filteredPosts; track post.id) {
		<mat-list-item role="listitem">
			<mat-icon matListItemIcon>article</mat-icon>
			{{ $index }} - {{ post.title }}
		</mat-list-item>
	} @empty {
		<mat-list-item> No post found...</mat-list-item>
	}
</mat-list>

