:host {
	display: block;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
}

mat-spinner {
	margin: 2rem auto;
}

.container {
	max-width: 800px;
	margin: auto;
}
