<header>
	<h1>Angular Control flow</h1>
	<div class="actions">
		<button (click)="getPosts()" mat-raised-button color="primary">Get posts</button>
		<button (click)="getUsers()" mat-raised-button color="primary">Get users</button>
	</div>
</header>
<main>
	@if (!isLoading) {
		<div class="container">
			@if (responseData; as item) {
				@switch (item.type) {
					@case ('posts') {
						<app-posts-list [posts]="item.payload" />
					}
					@case ('users') {
						<app-users-list [users]="item.payload" />
					}
					@default {
						<p>No data</p>
					}
				}
			} @else {
				<p>No data</p>
			}
		</div>
	} @else {
		<mat-spinner></mat-spinner>
	}
</main>

