<header>
	<h1>Angular Control flow</h1>
	<div class="actions">
		<button (click)="getPosts()" mat-raised-button color="primary">Get posts</button>
		<button (click)="getUsers()" mat-raised-button color="primary">Get users</button>
	</div>
</header>
<main>
	<ng-template #loading>
		<mat-spinner></mat-spinner>
	</ng-template>

	<ng-container *ngIf="!isLoading; else loading">
		<div class="container">
			<ng-container *ngIf="responseData as item; else noData">
				<ng-container [ngSwitch]="item.type">
					<app-posts-list [posts]="$any(item.payload)" *ngSwitchCase="'posts'" />
					<app-users-list [users]="$any(item.payload)" *ngSwitchCase="'users'" />
					<div *ngSwitchDefault>unknown data type...</div>
				</ng-container>
			</ng-container>
			<ng-template #noData>
				<p>No data</p>
			</ng-template>
		</div>
	</ng-container>
</main>
